.table {
  border-collapse: collapse;
  border: 1px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 0.5%;
  text-align: center;
}
.tableLine {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: center;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
